body {
    background: #000000;
}

#content {
    max-width: 700px;
    background: #ffffff;
    margin: 30px auto;
    padding: 15px;
}

#download-manager {
    position: fixed;
    padding: 10px;
    bottom: 0;
    left: 0;
    right: 0;
    background: #d3d3d3;
}

#download-manager .speed {
    float: right;
    width: 20%;
    padding-left: 10px;
    box-sizing: border-box;
}

#download-manager progress {
    width: 80%;
}
